

.contact_title{
  text-align: center;
  margin-top: 20px;
}

.contact_form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #EEEEEE;
  border-radius: 8px;
}

.contact_form input , .contact_form textarea{
  font-size: 20px;
  border: none;
  border-radius: 2px;
  padding: 10px;
  outline: none;
  box-sizing: content-box;
  box-shadow: 0 0 5px transparent;
  margin: 10px 0;
}

.contact_form label{
  font-size: 25px;
  font-weight: 600;
}

.contact_form input:focus, .contact_form textarea:focus{
  box-shadow: 0 0 5px #000;
}

.contact_form .send_btn{
  margin-top: 10px;
  font-size: 15px;
  max-width: 300px;
  margin-left: 100px
}